ul {
    display: flex;
    justify-content: center;
    gap: 10px 20px;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

li {
    padding: 8px 15px;
    background-color: #f8f9fa;
    border: 1px solid #e1e3e4;
    box-shadow: 1px 1px 3px -2px #777;
    border-radius: 8px;
    letter-spacing: 2%;
    width: 160px;
    text-align: center;
    color: #1e2423;
    font-size: 14px;
    align-content: center;
    cursor: pointer;
}

.reset {
    width: min-content;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    box-shadow: none;
    margin-left: -10px;
}

li:hover {
    background-color: rgba(225, 227, 228, 0.5);
}

.activeSort, .activeSort:hover {
    background-color: #6af39c;
}

.selectSpecies {
    display: flex;
    gap: 20px;
    align-items: center;
    max-width: 600px;
    margin: auto;
    border-bottom: 1px solid rgb(30, 36, 35, 0.5);
    margin-bottom: 40px;
    padding-bottom: 20px;

    p {
        font-weight: 600;
        letter-spacing: 2%;
    }

    div {
        width: 100%;
    }
}

@media(max-width: 600px) {
    ul {
        display: grid;
        grid-template-columns: max-content max-content;
    }

    li {
        font-size: 12px;
        width: 100px;
        padding: 8px;
    }

    .reset {
        margin:auto;
        background-color: #f8f9fa;
        border: 1px solid #e1e3e4;
        box-shadow: 1px 1px 3px -2px #777;
        padding: 8px;
    }
}